<div class="top-menu"  >
  <img class="logo" src="/assets/images/main-page-logo-small-hat.png">
</div>
<div *ngIf="viewedCourse.description">{{viewedCourse.description+' viewed.'}}</div>



<div class="courses" *ngIf="courseData[0] as course">

  <app-course-card [courseDetail]="course" (courseSelected)="onClickCourseCard($event)">

      <app-course-image [src]="course.iconUrl" 
      ></app-course-image>

    <div class="course-description" >
      {{course.longDescription}}
    </div>
  </app-course-card>
</div> 