<div class="top-menu" [highlighted]="true" >
  <img class="logo" src="/assets/images/main-page-logo-small-hat.png">
</div>
<div *ngIf="viewedCourse.description">{{viewedCourse.description+' viewed.'}}</div>


<div class="Pastel-Theme">
  <div class="course-card">
    Test card
  </div>
</div>



<ng-template [ngIf]="courseData[0]" let-course>

  <div class="courses  Pastel-Theme" >
  
    <app-course-card [courseDetail]="course" [highlighted]="true" #highlighter="hl" (toggleHighlight)="onToggle($event)"
     (courseSelected)="onClickCourseCard($event)">
  
        <app-course-image [src]="course.iconUrl" 
        *ngxUnless="!course.iconUrl"></app-course-image>
  
      <div class="course-description" (dblclick)="highlighter.toggle()" >
        {{course.longDescription}}
      </div>
    </app-course-card>
    
  </div> 
  </ng-template>
